# VCS
.git
.github
.gitignore
.jj

# Node/pnpm modules
**/node_modules
**/.pnpm-store

# Other filetype
*.md

# Own folders
**/dist
infra
example
example-deployment
packages/cli
**/.workers-data
scripts

# TS incremental build
**/tsconfig.tsbuildinfo

# Misc
Session.vim
.aider*
docker-compose.yml

**/.turbo
