# VCS
.git
.gitignore
.jj

# Node/pnpm modules
node_modules
.pnpm-store


# Other filetype
*.md

# Own folders
dist
infra
example-deployment
packages/control/frontend
.workers-data

# Misc
Session.nvim
.aider*
